
body a {
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

a:hover {
	text-decoration: none;
}

input[type="button"],
input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 600;
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

label {
	margin: 0;
}


/*-- header --*/


/*-- Index-Page-Styling --*/


/*-- top-bar-w3-agile --*/

.header {
	/* position: relative; */
}

.header-nav {
	position: relative;
}

.top-bar-w3-agile {
	position: absolute;
	z-index: 999;
	width: 100%;
	top: 0%;
	left: 0;
}


/*-- Logo --*/

.logo {
	width: 60%;
	float: left;
}

.logo a {
	font-size: 40px;
	font-weight: bolder;
	color: #EEE;
}

.logo a:hover {
	color: #FFF;
}


/*-- //Logo --*/


/*-- Info --*/

.info {
	width: 40%;
	float: left;
	padding-top: 20px;
}

.info .email,
.info .phone {
	width: 50%;
	float: left;
}

.info p {
	color: #EEE;
	font-size: 13px;
}

.info a {
	color: #FFF;
}

.info a:hover {
	color: #009688;
}

.info span.glyphicon {
	margin-right: 5px;
}

.navbar-brand {
	line-height: 0px !important;
}

.navbar-brand {
	float: none;
}

nav.linkEffects.linkHoverEffect_12 ul {
	margin-top: 6px;
}


/*-- //Info --*/


/*-- //top-bar-w3-agile --*/


/*-- Slider --*/

#slider {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}

.rslides_tabs {
	list-style: none;
	padding: 0;
	background: rgba(0, 0, 0, .25);
	box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
	-moz-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
	font-size: 18px;
	list-style: none;
	margin: 0 auto 50px;
	max-width: 540px;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}

.rslides_tabs li {
	display: inline;
	float: none;
	margin-right: 1px;
}

.rslides_tabs a {
	width: auto;
	line-height: 20px;
	padding: 9px 20px;
	height: auto;
	background: transparent;
	display: inline;
}

.rslides_tabs li:first-child {
	margin-left: 0;
}

.rslides_tabs .rslides_here a {
	background: rgba(255, 255, 255, .1);
	color: #fff;
	font-weight: bold;
}

.events {
	list-style: none;
}

.callbacks_container {
	position: relative;
	float: none;
	text-align: center;
	width: 100%;
}

.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.callbacks li {
	position: absolute;
	left: 0;
	top: 0;
}

.slider-img-w3layouts.one {
	background: url(../images/bann1.jpg)no-repeat fixed;
}

.slider-img-w3layouts.two {
	background: url(../images/bann2.jpg)no-repeat fixed;
}

.slider-img-w3layouts.three {
	background: url(../images/bann3.jpg)no-repeat fixed;
}
.slider-img-w3layouts.four {
	background: url(../images/bann4.jpg)no-repeat fixed;
}

.slider-img-w3layouts.one,
.slider-img-w3layouts.two,
.slider-img-w3layouts.three,
.slider-img-w3layouts.four {
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 795px;
}

.inn-banner {
	background: url(../images/bann1.jpg)no-repeat fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 250px;
}

.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}

.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	bottom: 46%;
	left: 0;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	width: 50px;
	height: 50px;
	background: transparent url(../images/arrows.png) no-repeat left top;
}

.callbacks_nav.next {
	left: auto;
	background-position: right top;
	left: 95.5%;
}

.callbacks_nav.prev {
	right: auto;
	background-position: left top;
	left: 22px;
}

.callbacks_nav:active {
	opacity: 1.0;
}

.callbacks2_nav:active {
	opacity: 1.0;
}

#slider-pager a {
	display: inline-block;
}

#slider-pager span {
	float: left;
}

#slider-pager span {
	width: 100px;
	height: 15px;
	background: #fff;
	display: inline-block;
	border-radius: 30em;
	opacity: 0.6;
}

#slider-pager .rslides_here a {
	background: #FFF;
	border-radius: 30em;
	opacity: 1;
}

#slider-pager a {
	padding: 0;
}

#slider-pager li {
	display: inline-block;
}

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	left: 0%;
	top: 0;
	width: 100%;
}

.rslides li {
	position: relative;
	display: block;
	float: none;
}

.rslides img {
	height: auto;
	border: 0;
}

.callbacks_tabs {
	list-style: none;
	position: absolute;
	top: 88%;
	z-index: 99;
	right: 1%;
	padding: 0em 0.6em 1em 0.3em;
	margin: 0;
}

.callbacks_tabs li {
	display: inline-block;
	margin: 0.5em;
}

.callbacks_tabs a {
	visibility: hidden;
}

.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	width: 12px;
	height: 12px;
	display: inline-block;
	background: #fff;
	border: none;
	border-radius: 50%;
	box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.callbacks_here a:after {
	background: #168eea;
}

.slider-info {
	z-index: 999;
	margin-top: 28%;
}

.slider-info h3 {
	font-size: 3.5em;
	font-weight: 900;
	color: #FFF;
	letter-spacing: 3px;
	line-height: 1.3em;
	text-transform: uppercase;
	margin: 2px 0px 10px;
}

.slider-info p {
	font-size: 15px;
	font-weight: 400;
	color: #000000;
	background: rgba(255, 255, 255, 0.2);
	margin: 1em 0 0em;
	padding: 3px 0;
	line-height: 35px;
	letter-spacing: 3px;
}

.slider-info h4 {
	font-size: 45px;
	color: #b56d10;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-top: 7px;
}

h6 {
	margin: 0 auto;
	z-index: 999;
}

h6 a {
	cursor: pointer;
	font-size: 15px;
	text-transform: uppercase;
}

.slider-top span {
	font-weight: 600;
}

.callbacks_tabs li {
	display: inline-block;
	margin: 0 7px;
}


/*-- header-top --*/

.header-top-agileits {
	padding: 1em 0;
}

.agile_forms {
	float: left;
}

.agile_forms p {
	font-size: 16px;
	letter-spacing: 1px;
	color: #fff;
}

.agile_forms p span.fa {
	font-size: 22px;
	margin-right: 10px;
	color: #ee4f4f;
}

.top-right-info-w3ls li i {
	color: #fff;
	padding-top: 8px;
}

.top-right-info-w3ls li {
	display: inline-block;
	margin: 0px 4px;
	width: 32px;
	height: 32px;
	background: #ee4f4f;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
	-o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
	-ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
}

.top-right-info-w3ls li:hover {
	background: #168eea;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.w3l-social {
	text-align: right;
	padding: 0px;
}

.top-right-info-w3ls {
	text-align: center;
	float: right;
}


/*-- header-top --*/


/*-- //Slider --*/

.navbar {
	margin-bottom: 0;
}

.navbar-nav {
	float: right;
}

.navbar-default {
	background: none;
	border-color: #012231;
}

.navbar-default .navbar-brand {
	color: #000 !important;
	font-size: 37px;
	text-decoration: none;
}

a.navbar-brand img {
	display: inline-block;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	padding: 0;
	float: left;
	margin-left: 2em;
}

.navbar-default .navbar-brand:hover {
	color: #fff;
	text-decoration: none;
}

a.navbar-brand span {
	color: #ee4f4f;
	/* margin-left: 12px; */
}

.navbar {
	position: relative;
	min-height: inherit;
}

.navbar-header {
	margin-top: 0px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #2FD828;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 16px;
}

.navbar-nav>li>a {
	padding-top: 25px;
	padding-bottom: 25px;
}

.navbar-brand {
	height: 0;
	padding: 0;
}

.navbar {
	border-radius: 0px;
	border: none;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a.active {
	color: #EFA52C;
}

.navbar {
	border-radius: 0px;
	border: none;
	padding: 1em 1.5em;
	background: rgb(255, 255, 255);
}

.dropdown-menu {
	background-color: #2f2f2f;
}

.dropdown-menu>li>a {
	padding: 0;
	color: #909090;
	text-align: center;
	font-size: 15px;
	text-transform: capitalize;
	letter-spacing: 1px;
}

.navbar-nav>li>.dropdown-menu {
	margin-top: 2em;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
	color: #fff;
	background-color: transparent;
}


/*-- //nav-bar --*/


/*-- //nav --*/


/* Effect 15: scale down, reveal */

.cl-effect-15 a {
	color: #ee4f4f;
	font-weight: 300;
	text-shadow: none;
	text-decoration: none;
	font-size: 17px;
	letter-spacing: 2px;
}

.cl-effect-15 a.active::before {
	color: #ee4f4f;
}

.cl-effect-15 a::before {
	color: #168eea;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-15 a:hover::before,
.cl-effect-15 a:focus::before {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}

nav#cl-effect-15 ul li {
	list-style: none;
	display: inline-block;
	padding: 10px 20px;
}


/*-- search --*/

.w3ls_search {
	position: relative;
}

.cd-main-header {
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	will-change: transform;
}

.cd-main-header {
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cd-main-content.nav-is-visible,
.cd-main-header.nav-is-visible {
	-webkit-transform: translateX(-260px);
	-moz-transform: translateX(-260px);
	-ms-transform: translateX(-260px);
	-o-transform: translateX(-260px);
	transform: translateX(-260px);
}

.nav-on-left .cd-main-content.nav-is-visible,
.nav-on-left .cd-main-header.nav-is-visible {
	-webkit-transform: translateX(260px);
	/*-- w3layouts --*/
	-moz-transform: translateX(260px);
	-ms-transform: translateX(260px);
	-o-transform: translateX(260px);
	transform: translateX(260px);
}

.cd-header-buttons {
	position: absolute;
	display: inline-block;
	top: -60px;
	right: 24px;
}

.cd-header-buttons li {
	display: inline-block;
}

.cd-search-trigger,
.cd-nav-trigger {
	position: relative;
	display: block;
	width: 44px;
	height: 44px;
	overflow: hidden;
	white-space: nowrap;
	color: transparent;
	z-index: 3;
	background: #ee4f4f;
}

.cd-search-trigger::before,
.cd-search-trigger::after {
	/* search icon */
	content: '';
	position: absolute;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.cd-search-trigger::before {
	top: 11px;
	left: 11px;
	width: 18px;
	height: 18px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	/*-- agileits --*/
	border: 3px solid #fff;
}

.cd-search-trigger::after {
	/* handle */
	height: 3px;
	width: 8px;
	background: #fff;
	bottom: 14px;
	right: 11px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.cd-search-trigger span {
	/* container for the X icon */
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.cd-search-trigger span::before,
.cd-search-trigger span::after {
	/* close icon */
	content: '';
	position: absolute;
	display: inline-block;
	height: 3px;
	width: 22px;
	top: 50%;
	margin-top: -2px;
	left: 50%;
	margin-left: -11px;
	background: #fff;
	opacity: 0;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.cd-search-trigger span::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.cd-search-trigger span::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.cd-search-trigger.search-is-visible::before,
.cd-search-trigger.search-is-visible::after {
	/* hide search icon */
	-moz-opacity: 0;
	opacity: 0;
}

.cd-search-trigger.search-is-visible span::before,
.cd-search-trigger.search-is-visible span::after {
	/* show close icon */
	-moz-opacity: 1;
	opacity: 1;
}

.cd-search-trigger.search-is-visible span::before {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.cd-search-trigger.search-is-visible span::after {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.cd-search {
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-search input {
	border-radius: 0;
	border: none;
	background: rgba(0, 0, 0, 0.75);
	width: 100%;
	padding: 0 5%;
	-webkit-box-shadow: inset 0 3px 0 #168eea, 0 3px 6px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 3px 0 #168eea, 0 3px 6px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 3px 0 #168eea, 0 3px 6px rgba(0, 0, 0, 0.05);
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	font-size: 1.2em;
	padding: 1em 2em;
	color: #fff;
	letter-spacing: 1px;
}

.cd-search input::-webkit-input-placeholder {
	color: #fff !important;
}

.cd-search input::-moz-placeholder {
	color: #fff !important;
}

.cd-search input:-moz-placeholder {
	color: #fff !important;
}

.cd-search input:-ms-input-placeholder {
	color: #fff !important;
}

.cd-search input:focus {
	outline: none;
}

.cd-search.is-visible {
	-moz-opacity: 1;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}


/*-- //search --*/

.readmore-w3-agileits a {
	border: 2px solid #ee4f4f;
	background: #ee4f4f;
	text-transform: capitalize;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	letter-spacing: 1.5px;
	margin-top: 2em;
	padding: 8px 20px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.readmore-w3-agileits a:hover {
	color: #fff;
	border-color: #168eea;
	background: #168eea;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}


/*--modal--*/

.modal-content img {
	width: 100%;
}

.modal-content h4 {
	color: #000;
	text-align: center;
	font-size: 35px;
	margin-bottom: .5em;
}

.modal-content h5 {
	color: #168eea;
	padding-top: 15px;
	font-size: 26px;
	line-height: 40px;
}

.modal-content p {
	color: #636363;
	font-size: 17px;
	letter-spacing: 1px;
	line-height: 32px;
	padding-top: 10px;
}

.modal-header {
	padding: 30px;
}


/*--//modal--*/


/*-- //Banner-Slider --*/


/*-- /about --*/

.about {
	position: relative;
}

h3.w3l_head {
	text-align: center;
	color: #111;
	font-size: 3.7em;
	letter-spacing: 2px;
}

h3.w3l_head.three {
	color: #44c7f4;
}

p.para-agileits {
	font-size: 16px;
	color: #777;
	line-height: 1.8em;
}

.banner_bottom_left {
	text-align: left;
	float: right;
	padding: 6em 7em 6em 10em;
	background: #1d1d1d;
}

.banner_bottom_left h3 {
	font-size: 1.3em;
	letter-spacing: 2px;
	color: #ffffff;
	font-weight: 400;
	margin-bottom: 1em;
	text-transform: capitalize;
}

.banner_bottom_right {
	width: 41%;
	position: absolute;
	z-index: 999;
	top: 33.6%;
	left: 5%;
	box-shadow: 3px 3px 15px rgb(0, 0, 0);
}


/*--Banner form--*/

div#horizontalTab {
	/* position: absolute; */
	/* top: 30em; */
	/* z-index: 999; */
	/* width: 65%!important; */
	/* left: 17.5%; */
	background: #168eea;
	/* box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.38); */
	border-bottom: 2px solid #8e8e8e;
}


/*--tab-1--*/

.fields input[type="text"],
.fields input[type="email"],
.fields input[type="password"],
.fields .form-control,
textarea {
	padding: 7px 0px;
	font-size: 15px;
	letter-spacing: 1px;
	margin-bottom: 15px;
	border: none;
	outline: none;
	border-bottom: 1px solid #777;
	background: transparent;
	width: 100%;
	color: #525252;
	font-family: 'Lato', sans-serif;
}

.fields .form-control {
	box-shadow: none!important;
	border-radius: 0!important;
}

textarea {
	resize: none;
	height: 100px!important;
}

.resp-tabs-container input[type="submit"] {
	color: #fff;
	letter-spacing: 0.5px;
	font-size: 16px;
	text-transform: capitalize;
	margin: 0.5em auto 0;
	display: block;
	padding: 10px 20px;
	width: 100%;
	border: none;
	outline: none;
	background: rgb(29, 29, 29);
	border: 2px solid #1d1d1d;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
}

.resp-tabs-container input[type="submit"]:hover {
	background: #ee4f4f;
	border-color: #ee4f4f;
	color: #fff;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
}

.tab1 ul {
	margin-top: 20px;
	text-align: left;
	display: block;
}

.fields span {
	font-size: 15px;
	color: #168eea;
	letter-spacing: 1px;
}


/*--//tab-1--*/


/*--tab-2--*/

form p {
	font-size: 13px;
	text-transform: uppercase;
	color: #777;
	font-weight: 500;
	display: block;
}

.filter-price {
	width: 70%;
	margin: 2em auto 0!important;
	text-align: center;
}

.tab2,
.fields {
	text-align: left;
}


/*-- Slider range --*/

ul.dropdown-menu6,
ul.dropdown-menu5 {
	margin: 0;
	position: relative;
}

ul.dropdown-menu6 li {
	list-style: none;
}

ul.dropdown-menu6 li p {
	width: 100%;
}

span.amount {
	color: #ffffff;
	font-size: 16px;
}

.filter-price input#amount,
.filter-price input#amount1 {
	font-size: 18px;
	outline: none;
	background: none;
	word-spacing: 1em;
	color: #000 !important;
	position: absolute;
	left: 0%;
	top: 10px;
	text-align: center;
	width: 100%;
	padding: 4px 0;
}

ul.dropdown-menu6 li a {
	text-decoration: none;
}

.range,
.range-two {
	padding: 15px 0 22px 0;
	border-bottom: 1px solid #e5e3db;
}

.filter-price h3 {
	color: #1bbde8;
	text-transform: capitalize;
	font-size: 1.2em;
}

 ::-webkit-input-placeholder {
	color: #222;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #222;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #222;
}

:-ms-input-placeholder {
	color: #222;
}


/*-- //Slider range --*/


/*--//tab-2--*/


/*--tab-3--*/


/*--//tab-3--*/


/*--//Banner form--*/


/*-- abut-slider--*/

#slider3,
#slider4,
#slider5 {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}

.rslides_tabs {
	list-style: none;
	padding: 0;
	background: rgba(0, 0, 0, .25);
	box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
	-moz-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
	/*-- w3layouts --*/
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
	font-size: 18px;
	list-style: none;
	margin: 0 auto 50px;
	max-width: 540px;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}

.rslides_tabs li {
	display: inline;
	margin-right: 1px;
}

.rslides_tabs a {
	width: auto;
	line-height: 20px;
	padding: 9px 20px;
	height: auto;
	background: transparent;
	display: inline;
}

.rslides_tabs li:first-child {
	margin-left: 0;
}

.rslides_tabs .rslides_here a {
	background: rgba(255, 255, 255, .1);
	color: #fff;
	font-weight: bold;
}

.events {
	list-style: none;
}

.callbacks_container {
	position: relative;
	width: 100%;
}

.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.callbacks li {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}


/*-- agileits --*/

.callbacks img {
	position: relative;
	z-index: 1;
	height: auto;
	border: 0;
}

.callbacks_nav:active {
	opacity: 1.0;
}

#slider3-pager a,
#slider4-pager a,
#slider5-pager a {
	padding: 0;
}

#slider3-pager li,
#slider4-pager li,
#slider5-pager li {
	display: inline-block;
}

.banner-text1 {
	background: url(../images/bann2.jpg) no-repeat 0px 0px;
}

.banner-text2 {
	background: url(../images/bann4.jpg) no-repeat 0px 0px;
}

.banner-text3 {
	background: url(../images/bann3.jpg) no-repeat 0px 0px;
}

.banner-text1,
.banner-text2,
.banner-text3,
.banner-text4 {
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 375px;
}

.banner-text4 {
	background: #fff;
	padding-top: 8px;
}

.banner-text4 iframe {
	width: 100%;
	height: 360px;
	border: none;
}


/*--//about-slider--*/


/*-- //about --*/


/*--sevices-section--*/

.sevices-grid {
	padding: 0px 45px;
}

.sevices-w3layouts,
.blog,
.contact-w3-agileits,
.team,
.gallery,
.about,
.typo {
	padding: 6em 0em;
}

.testimonials {
	padding-bottom: 0em!important;
}

h3.tittle {
	color: #000000;
	font-size: 2.8em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 1.2em;
}

h3.tittle.white {
	color: #ffffff;
}

.sevices-grid span.fa {
	color: rgba(255, 255, 255, 0.28);
	font-size: 2.8em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.sevices-grid span.fa-plane {
	color: #ffcc54;
}

.sevices-grid span.fa-thumbs-up {
	color: #f45d90;
}

.sevices-grid span.fa-users {
	color: #73cc72;
}

.sevices-grid span.fa-briefcase {
	color: #2bc4ff;
}

.sevices-grid span.fa-credit-card-alt {
	color: #6bff9f;
}

.sevices-grid h4 {
	color: #ffffff;
	text-transform: capitalize;
	background: rgba(255, 255, 255, 0.05);
	border-bottom: 3px solid rgba(255, 255, 255, 0.26);
	padding: 10px 20px;
	font-size: 22px;
	margin: 1em 0px .5em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.sevices-grid:hover .icon h4 {
	background: rgba(255, 255, 255, 0);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.sevices-grid:hover .icon span.fa {
	color: #fff;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.sevices-grid p {
	color: #fff;
}

.sevices-grid:nth-child(1),
.sevices-grid:nth-child(2),
.sevices-grid:nth-child(3) {
	margin-bottom: 3em;
}


/*--sevices-bottom-section--*/

.sevices-w3layouts {
	background: #1d1d1d;
	background: url(../images/services-bg1.jpg) no-repeat 0px 0px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}


/*--sevices-bottom-section--*/


/*--//sevices-section--*/


/*-- blog Section --*/

.blog-grid-w3-agileits {
	margin-bottom: 3em;
}

.blog-grid-w3-agileits:nth-child(4) {
	margin-bottom: 0em!important;
}

.blog-grid-w3-agileits:nth-child(5) {
	margin-bottom: 0px!important;
}

.blog-img1-agileits-w3layouts a {
	background: url(../images/g2.jpg) no-repeat 0px 0px;
}

.blog-img2-agileits-w3layouts a {
	background: url("../images/g5.jpg") no-repeat 0px 0px;
}

.blog-img3-agileits-w3layouts a {
	background: url("../images/g7.jpg") no-repeat 0px 0px;
}

.blog-img1-agileits-w3layouts a,
.blog-img2-agileits-w3layouts a,
.blog-img3-agileits-w3layouts a {
	background-size: cover;
	min-height: 355px;
	display: block;
	padding: 3em 0 0 2em;
}

.blog-info-w3layouts {
	margin-top: 2em;
	padding: 2em 2em 2em;
	text-align: left;
}

.blog-mid {
	text-align: right;
}

.blog-img h6 {
	text-decoration: none;
	color: #ffffff;
	font-size: 23px;
	letter-spacing: 1px;
	margin-bottom: .5em;
	display: block;
	line-height: 30px;
}

.blog-info-w3layouts h5 {
	text-decoration: none;
	font-size: 2em;
	letter-spacing: 2px;
	font-weight: 300;
	text-transform: capitalize;
	color: #168eea;
	display: inline-block;
	margin-bottom: .2em;
}

.blog-img p {
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
}

.blog-img p span {
	color: #168eea;
	font-size: 14px;
	margin-right: 7px;
}

a.blog-more-agile {
	text-decoration: none;
	display: inline-block;
	color: #fff;
	border: 2px solid #ee4f4f;
	background: #ee4f4f;
	text-transform: capitalize;
	margin-top: 2em;
	font-size: 16px;
	letter-spacing: 1.5px;
	padding: 8px 20px;
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}

a.blog-more-agile:hover {
	text-decoration: none;
	color: #fff;
	border-color: #168eea;
	background: #168eea;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}


/*--// blog Section --*/


/*-- icons --*/

ul.top-icons.team-icon {
	text-align: center;
	margin-top: 10px;
}

.team-icon li i {
	color: #fff;
	padding-top: 8px;
}

.team-icon li {
	display: inline-block;
	margin: 0px 4px;
	width: 32px;
	height: 32px;
	background: #ee4f4f;
	/* border-radius: 50%; */
	/* -webkit-border-radius: 50%; */
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
	-o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
	-ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
}

.team-icon li:hover {
	background: #168eea;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}


/*-- //icons --*/


/*--gallery--*/

.w3-agileits-gallery-grids.agileits-gallery-grids {
	margin: 2em 0;
}

.w3-agileits-gallery-grids:nth-child(5) {
	float: right;
}

.w3-agileits-gallery-grids a {
	display: block;
	overflow: hidden;
	position: relative;
}

.agile-b-wrapper {
	background: rgba(0, 0, 0, 0.58);
	position: absolute;
	width: 100%;
	height: 0%;
	top: 0;
	left: 0;
	transition: .5s all;
	opacity: 0;
}

.w3-agileits-gallery-grids a:hover .agile-b-wrapper {
	height: 30%;
	opacity: 1;
}

.agile-b-wrapper h5 {
	font-size: 1.7em;
	color: #fff;
	text-align: center;
	margin: 0em auto 0;
	line-height: 3.5em;
	font-weight: 700;
	letter-spacing: 1px;
}


/*--//gallery--*/


/*-- testimonials --*/

.text-image-agileits-w3layouts {
	background: url(../images/test.jpg)no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 416px;
}

h4.text {
	background: none;
	font-size: 3em;
	text-align: center;
	color: #fff;
	text-transform: none;
	margin: 3% auto 0;
	width: 74%;
}

.img-agile img {
	width: 100px;
}

.test-monials h5 {
	font-size: 20px;
	text-align: right;
	color: #ffffff;
	letter-spacing: 1px;
	text-transform: none;
	margin: 1em 0 .5em;
}

.test-monials h5 span {
	font-size: 14px;
	font-weight: 600;
	color: #191919;
	text-transform: capitalize;
}

.test-review p {
	font-size: 16px;
	line-height: 2em;
	margin: 1em 0 0;
	padding: 0px;
	text-align: right;
	letter-spacing: 1px;
	color: #eee;
}

.test-review img {
	margin-left: 10px;
	border-radius: 10%;
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	-ms-border-radius: 10%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.41);
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.41);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.41);
	-o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.41);
	-ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.41);
}

.img-agile {
	float: left;
}

.test-review p img {
	margin: 0 10px!important;
	box-shadow: none;
}

.sreen-gallery-cursual {
	padding: 5em 8em;
	background: #168eea;
}

.testi-right-agileits {
	float: right;
}


/*--// testimonials --*/


/*--contact--*/

.styled-input input[type="text"],
.styled-input input[type="email"],
.contact-w3-agileits form textarea {
	border: none;
	outline: none;
	font-size: 14px;
	letter-spacing: 1px;
	border-top: 3px solid rgba(119, 119, 119, 0.35);
	padding: 10px;
	width: 100%;
	font-family: 'Lato', sans-serif;
}

.contact-w3-agileits form textarea {
	outline: none;
	resize: none;
	height: 100px;
	border-bottom: 4px solid rgba(119, 119, 119, 0.35);
	margin-top: 1em;
}

.styled-input input[type="text"]:hover,
.styled-input input[type="email"]:hover,
.contact-w3-agileits form textarea:hover {
	border-color: #777;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.styled-input {
	float: left;
	width: 32%;
}

.styled-input:nth-child(2) {
	margin: 0 2%;
}

.contact-w3-agileits input[type="submit"] {
	border: none;
	outline: none;
	color: #fff;
	background: #ee4f4f;
	border: 3px solid #ee4f4f;
	font-size: 18px;
	margin: 0 auto;
	display: block;
	margin-top: 1.3em;
	padding: 0.5em 4em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
}

.contact-w3-agileits input[type="submit"]:hover {
	background: #168eea;
	border: 3px solid #168eea;
	color: #fff;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.loc-left-w3ls h4 {
	color: #168eea;
	margin-bottom: 10px;
	font-size: 18px;
	letter-spacing: 1px;
}

.loc-left-w3ls p {
	color: #777;
	font-size: 14.5px;
	letter-spacing: .6px;
	margin-bottom: 6px;
}

.loc-left-w3ls p:nth-child(5) {
	color: #000!important;
}

.loc-left-w3ls p a {
	text-decoration: none;
	color: #ee4f4f;
}

.addresses-w3ls {
	margin-top: 5em;
}

.loc-left-w3ls {
	text-align: center;
}


/*--//contact--*/


/*-- footer --*/

.reach-wthree {
	background: #1d1d1d;
	padding: 2em 0;
}

.reach-wthree h3 {
	float: left;
	font-size: 2.5em;
	font-weight: 800;
	color: #fff;
	margin-top: 0.7em;
}

.reach-right-agileits-w3layouts {
	float: right;
	text-align: right;
}

.reach-right-agileits-w3layouts p {
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 26px;
	color: #999;
}

.reach-right-agileits-w3layouts h6 {
	color: #fff;
	font-size: 20px;
	letter-spacing: 2px;
	margin-top: 1em;
}

.reach-right-agileits-w3layouts h6 span {
	color: #168eea;
	margin-right: 10px;
}

.map-w3-agileits {
	padding: 1em 1em .7em;
	background: #2f2f2f;
}

.map-w3-agileits iframe {
	width: 100%;
	height: 400px;
	border: none;
}

.w3l_footer_agileinfo {
	background: #1b1b1b;
	padding: 1.5em 0;
	border-top: 1px ridge rgba(50, 50, 50, 0.57);
	border-bottom: 1px ridge rgba(50, 50, 50, 0.57);
}

.mailadd-w3ls {
	text-align: left;
	padding: 0;
}

.mailadd-w3ls p {
	font-size: 20px;
	letter-spacing: 1px;
}

.mailadd-w3ls p span {
	font-size: 1.3em;
	color: #ee4f4f;
	letter-spacing: 1px;
	margin-right: 10px;
}

.mailadd-w3ls p a {
	font-size: 16px;
	color: #fff;
	letter-spacing: 2px;
}

.botttom-nav-agileits ul.nav-w3ls {
	text-align: center;
	margin-top: 5px;
}

.botttom-nav-agileits ul.nav-w3ls li {
	list-style: none;
	display: inline-block;
	margin: 0px 15px;
}

.botttom-nav-agileits ul.nav-w3ls li a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	text-transform: capitalize;
	letter-spacing: 1px;
}

.botttom-nav-agileits ul.nav-w3ls li:hover a {
	color: #168eea;
}

.copy h2 {
	float: left;
}

.copy h2 a {
	color: #ee4f4f;
	font-size: 1.3em;
	letter-spacing: 1.5px;
	text-transform: capitalize;
	text-decoration: none;
}

.copy h2 a:hover,
.copy h2 a:focus {
	text-decoration: none;
	outline: none;
}

.copy h2 a span {
	color: #fff;
}


/*-- //Footer --*/


/*--copy-right--*/

.copy {
	text-align: center;
	padding: 1em 0;
	background: #1d1d1d;
}

.copy p {
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
	float: right;
	margin-top: 10px;
}

.copy p a {
	color: #168eea;
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.copy p a:hover {
	color: #fff;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}


/*--//copy-right--*/


/*--//footer--*/


/*--Typography--*/

.well {
	font-weight: 300;
	font-size: 14px;
}

.list-group-item {
	font-weight: 300;
	font-size: 14px;
}

li.list-group-item1 {
	font-size: 14px;
	font-weight: 300;
}

.typo p {
	margin: 0;
	font-size: 14px;
	font-weight: 300;
}

.show-grid [class^=col-] {
	background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}

.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}

.grid_3 {
	margin-bottom: 2em;
}

.xs h3,
h3.m_1 {
	color: #000;
	font-size: 1.7em;
	font-weight: 300;
	margin-bottom: 1em;
}

.grid_3 p {
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}

.grid_4 {
	background: none;
	/*margin-top:50px;*/
}

.label {
	font-weight: 300 !important;
	border-radius: 4px;
}

.grid_5 {
	background: none;
	/*padding:2em 0;*/
}

.grid_5 h3,
.grid_5 h2,
.grid_5 h1,
.grid_5 h4,
.grid_5 h5,
h3.hdg,
h3.bars {
	margin-bottom: 1em;
	color: #1abc9c;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	border-top: none !important;
}

.tab-content>.active {
	display: block;
	visibility: visible;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	z-index: 0;
}

.badge-primary {
	background-color: #03a9f4;
}

.badge-success {
	background-color: #8bc34a;
}

.badge-warning {
	background-color: #ffc107;
}

.badge-danger {
	background-color: #e51c23;
}

.grid_3 p {
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}

.bs-docs-example {
	margin: 1em 0;
}

section#tables p {
	margin-top: 1em;
}

.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}

.table td,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	padding: 15px!important;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}

.tab-content>.active {
	display: block;
	visibility: visible;
}

.label {
	font-weight: 300 !important;
}

.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}

.nav-tabs {
	margin-bottom: 1em;
}

.alert {
	font-size: 0.85em;
}

h1.t-button,
h2.t-button,
h3.t-button,
h4.t-button,
h5.t-button {
	line-height: 1.8em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li.list-group-item1 {
	line-height: 2.5em;
}

.input-group {
	margin-bottom: 20px;
}

.in-gp-tl {
	padding: 0;
}

.in-gp-tb {
	padding-right: 0;
}

.list-group {
	margin-bottom: 48px;
}

ol {
	margin-bottom: 44px;
}

h2.typoh2 {
	margin: 0 0 10px;
}

@media (max-width:768px) {
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}

@media (max-width:640px) {
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3,
	.grid_5 h2,
	.grid_5 h1,
	.grid_5 h4,
	.grid_5 h5,
	h3.hdg,
	h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,
	.grid_3 p,
	ul.list-group li,
	li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
}

@media (max-width:480px) {
	.banner {
		min-height: 405px;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,
	p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}

@media (max-width: 320px) {
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert,
	p,
	ol.breadcrumb li,
	.grid_3 p,
	.well,
	ul.list-group li,
	li.list-group-item1,
	a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav>li>a {
		font-size: 14px;
	}
	table.table.table-striped,
	.table-bordered,
	.bs-docs-example {
		display: none;
	}
}


/*--//Typography --*/


/*-- icons --*/

ul.bs-glyphicons-list li:hover {
	background: #000;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}

ul.bs-glyphicons-list li:hover span {
	color: #fff;
}

.codes a {
	color: #999;
}

.row.fontawesome-icon-list {
	margin: 0;
}

.icon-box {
	padding: 8px 15px;
	background: rgba(149, 149, 149, 0.18);
	margin: 1em 0 1em 0;
	border: 5px solid #ffffff;
	text-align: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 13px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
	cursor: pointer;
}

.icon-box:hover {
	background: #000;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}

.icon-box:hover i.fa {
	color: #fff !important;
}

.icon-box:hover a.agile-icon {
	color: #fff !important;
}

.codes .bs-glyphicons li {
	float: left;
	width: 12.5%;
	height: 115px;
	padding: 10px;
	line-height: 1.4;
	text-align: center;
	font-size: 12px;
	list-style-type: none;
}

.codes .bs-glyphicons .glyphicon {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
}

.codes .glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #777;
}

.codes .bs-glyphicons .glyphicon-class {
	display: block;
	text-align: center;
	word-wrap: break-word;
}

h3.icon-subheading,
.grid_5 h3:nth-child(1),
.grid_5 h2:nth-child(1),
.grid_5 h1:nth-child(1),
.grid_5 h4:nth-child(1),
.grid_5 h5:nth-child(1),
h3.hdg,
h3.bars {
	font-size: 35px;
	color: #ee4f4f;
	margin: 30px 0 15px;
	font-weight: bold;
}

h3.agileits-icons-title {
	/*text-align: center;*/
	/* font-size: 29px;*/
	/* color: #222;*/
	/*font-weight: 300;*/
}

.icons a {
	color: #999;
}

.icon-box i {
	margin-right: 10px !important;
	font-size: 20px !important;
	color: #282a2b !important;
}

.bs-glyphicons li {
	float: left;
	width: 18%;
	height: 115px;
	padding: 10px;
	line-height: 1.4;
	text-align: center;
	font-size: 12px;
	list-style-type: none;
	background: rgba(149, 149, 149, 0.18);
	margin: 1%;
	cursor: pointer;
}

.bs-glyphicons .glyphicon {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
	color: #282a2b;
}

.bs-glyphicons.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #777;
}

.bs-glyphicons .glyphicon-class {
	display: block;
	text-align: center;
	word-wrap: break-word;
}

@media (max-width:1080px) {
	.icon-box {
		width: 33.33%;
	}
}

@media (max-width:991px) {
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.icon-box {
		width: 50%;
	}
}

@media (max-width:768px) {
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
		float: left;
	}
}

@media (max-width: 640px) {
	.icon-box {
		float: left;
		width: 50%;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	/*.grid_3.grid_4.w3_agileits_icons_page {
		margin-top: 25px;
	}*/
}

@media (max-width: 480px) {
	.bs-glyphicons li {
		width: 31%;
	}
	.icon-box {
		float: none;
		width: 100%;
	}
}

@media (max-width: 414px) {
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}

@media (max-width: 384px) {
	.icon-box {
		float: none;
		width: 100%;
	}
}

@media (max-width: 375px) {
	.w3_agileits_icons_page {
		/*margin: 25px 0 0 !important;*/
	}
}


/*-- //icons --*/


/*-- to-top --*/

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 35px;
	right: 2.3%;
	overflow: hidden;
	z-index: 999;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/arr.png") no-repeat 0px 0px;
}

#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}


/*-- //to-top --*/


/*--responsive--*/

@media(max-width:1440px) {
	.callbacks_nav.next {
		left: 95%;
	}
	.slider-info h3 {
		font-size: 3em;
		letter-spacing: 5px;
	}
	.slider-info {
		margin-top: 15%;
	}
	.slider-img-w3layouts.one,
	.slider-img-w3layouts.two,
	.slider-img-w3layouts.three {
		min-height: 690px;
	}
}

@media(max-width:1366px) {
	.banner_bottom_left {
		padding: 6em 6em 6em 7em;
	}
	h3.tittle {
		font-size: 2.6em;
		margin-bottom: 1em;
	}
	.sevices-w3layouts,
	.blog,
	.contact-w3-agileits,
	.team,
	.gallery,
	.about,
	.typo {
		padding: 5em 0em;
	}
	.w3_agile_team_grid_info h3 {
		font-size: 1.3em;
		letter-spacing: 1px;
	}
}

@media(max-width:1280px) {
	.callbacks_nav.next {
		left: 94.3%;
	}
	.sreen-gallery-cursual {
		padding: 4em 5em;
	}
	.text-image-agileits-w3layouts {
		min-height: 385px;
	}
	.reach-wthree h3 {
		font-size: 2.4em;
		margin-top: 0.6em;
	}
	.reach-right-agileits-w3layouts h6 {
		font-size: 19px;
		margin-top: 0.8em;
	}
}

@media(max-width:1080px) {
	.slider-info h3 {
		letter-spacing: 4px;
	}
	.slider-img-w3layouts.one,
	.slider-img-w3layouts.two,
	.slider-img-w3layouts.three {
		min-height: 580px;
	}
	.callbacks_nav.prev,
	.callbacks_nav.next {
		background-size: 85px;
		width: 41px;
		height: 41px;
	}
	.callbacks_nav.prev {
		left: 15px;
	}
	.callbacks_nav.next {
		left: 94.7%;
	}
	.modal-content h5 {
		font-size: 24px;
		line-height: 35px;
	}
	.modal-content p {
		font-size: 16px;
		line-height: 28px;
	}
	.resp-tabs-list li {
		padding: 14px 25px;
	}
	.banner-text1,
	.banner-text2,
	.banner-text3,
	.banner-text4 {
		min-height: 300px;
	}
	.banner-text4 iframe {
		height: 280px;
	}
	.banner_bottom_left {
		padding: 4em 3em 4em 5em;
	}
	.banner_bottom_right {
		top: 36.6%;
	}
	.readmore-w3-agileits a {
		font-size: 15px;
		margin-top: 1.6em;
		padding: 5px 20px;
	}
	.sevices-grid h4 {
		font-size: 19px;
	}
	.blog-info-w3layouts h5 {
		font-size: 1.9em;
	}
	.agile-b-wrapper h5 {
		font-size: 1.5em;
		line-height: 3.2em;
	}
	.copy h2 a {
		font-size: 1.1em;
		letter-spacing: 1px;
	}
	.mailadd-w3ls p span {
		font-size: 1em;
	}
}

@media(max-width:1050px) {
	.sreen-gallery-cursual {
		padding: 3em 5em;
	}
	.slider-info h3 {
		letter-spacing: 4px;
		font-size: 2.5em;
		line-height: 1.5em;
	}
	.slider-img-w3layouts.one,
	.slider-img-w3layouts.two,
	.slider-img-w3layouts.three {
		min-height: 565px;
	}
	.sevices-grid {
		padding: 0px 30px;
	}
	.sevices-grid:nth-child(1),
	.sevices-grid:nth-child(2),
	.sevices-grid:nth-child(3) {
		margin-bottom: 2em;
	}
	.sevices-grid span.fa {
		font-size: 2.5em;
	}
	.callbacks_tabs {
		top: 85%;
	}
	.map-w3-agileits iframe {
		height: 320px;
	}
	.banner_bottom_left h3 {
		font-size: 1.3em;
		line-height: 33px;
		margin-bottom: 0.5em;
	}
}

@media(max-width:1024px) {}

@media(max-width:991px) {
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		margin-left: 1em;
	}
	.cl-effect-15 a {
		font-size: 16px;
	}
	nav#cl-effect-15 ul li {
		padding: 10px 10px;
	}
	.cd-search input {
		font-size: 1em;
		padding: 0.7em 1.5em;
	}
	.slider-info {
		margin-top: 32%;
	}
	.slider-info h3 {
		letter-spacing: 2px;
		line-height: 1.3em;
	}
	.slider-img-w3layouts.one,
	.slider-img-w3layouts.two,
	.slider-img-w3layouts.three {
		min-height: 550px;
	}
	.callbacks_nav {
		bottom: 43%;
	}
	.callbacks_nav.next {
		left: 94.5%;
	}
	h3.tittle {
		font-size: 2.5em;
		margin-bottom: 0.8em;
	}
	.sevices-w3layouts,
	.blog,
	.contact-w3-agileits,
	.team,
	.gallery,
	.about,
	.typo {
		padding: 4.2em 0em;
	}
	.addresses-w3ls {
		margin-top: 4.2em;
	}
	.banner_bottom_right {
		width: 100%;
		position: initial;
	}
	.banner-text1,
	.banner-text2,
	.banner-text3,
	.banner-text4 {
		min-height: 350px;
	}
	.banner-text4 iframe {
		height: 335px;
	}
	.banner_bottom_left {
		padding: 4.2em 3em;
	}
	.about {
		padding-bottom: 0!important;
	}
	.sevices-grid {
		padding: 0px 15px;
		width: 70%;
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	.resp-tab-content {
		padding: 1.5em 2em;
	}
	.sevices-grid:nth-child(1),
	.sevices-grid:nth-child(2),
	.sevices-grid:nth-child(3),
	.sevices-grid:nth-child(4) {
		margin-bottom: 2em;
	}
	.blog-info-w3layouts {
		margin-top: 0em;
		padding: 2em 2em 0em;
	}
	.blog-mid {
		padding-bottom: 2em;
	}
	.blog-grid-w3-agileits {
		margin-bottom: 0em;
	}
	.blog-grid-w3-agileits:nth-child(3) {
		margin-bottom: 3em;
	}
	.text-image-agileits-w3layouts {
		min-height: 280px;
	}
	.mailadd-w3ls,
	.botttom-nav-agileits,
	.w3l-social {
		width: 100%;
		float: none;
		text-align: center;
	}
	.w3l-social .top-right-info-w3ls {
		float: none;
		text-align: center;
	}
	.botttom-nav-agileits {
		margin: 1.3em 0;
	}
	.w3-agileits-gallery-grids {
		width: 50%;
		float: left;
		padding: 0 .5em;
	}
	.w3-agileits-gallery-grids.gallery-two {
		width: 100%;
		padding: 0 .5em;
		margin: 1em 0 0 0;
	}
	.w3-agileits-gallery-grids:nth-child(6) {
		padding-bottom: 0 !important;
	}
	.w3-agileits-gallery-grids:nth-child(5),
	.w3-agileits-gallery-grids:nth-child(8),
	.w3-agileits-gallery-grids:nth-child(9) {
		margin: 1em 0;
	}
	.w3-agileits-gallery-grids.agileits-gallery-grids {
		margin: 1em 0 0 0;
	}
	.w3-agileits-gallery-grids a img {
		width: 100%;
	}
	.w3-agileits-gallery-grids a:hover .agile-b-wrapper {
		height: 18%;
	}
	.inn-banner {
		min-height: 210px;
	}
}

@media(max-width:900px) {}

@media(max-width:800px) {
	.slider-info h3 {
		font-size: 2.3em;
	}
	.callbacks_nav.next {
		left: 93%;
	}
	.slider-info {
		margin-top: 28%;
	}
	.slider-info {
		margin-top: 28%;
	}
	h3.tittle {
		font-size: 2.3em;
		letter-spacing: 1.5px;
	}
	.sevices-w3layouts,
	.blog,
	.contact-w3-agileits,
	.team,
	.gallery,
	.about,
	.typo {
		padding: 3.5em 0em;
	}
	.addresses-w3ls {
		margin-top: 3.5em;
	}
	.banner_bottom_left {
		padding: 3.5em 2em;
	}
	a.blog-more-agile {
		margin-top: 1em;
		font-size: 15px;
		letter-spacing: 1px;
		padding: 6px 18px;
	}
	.blog-info-w3layouts h5 {
		font-size: 1.8em;
	}
	.blog-img1-agileits-w3layouts a,
	.blog-img2-agileits-w3layouts a,
	.blog-img3-agileits-w3layouts a {
		min-height: 270px;
		padding: 2em 0 0 2em;
	}
	.blog-img h6 {
		font-size: 20px;
		margin-bottom: .3em;
		line-height: 30px;
	}
	.sreen-gallery-cursual {
		padding: 3em 3em;
	}
	.reach-right-agileits-w3layouts p {
		font-size: 14px;
	}
	.reach-right-agileits-w3layouts h6 {
		font-size: 16px;
		margin-top: 0.74em;
	}
	.reach-wthree h3 {
		font-size: 2.2em;
		margin-top: 0.7em;
	}
	.mailadd-w3ls p a {
		font-size: 15px;
	}
	.botttom-nav-agileits ul.nav-w3ls li a {
		font-size: 14.5px;
	}
	#toTop {
		bottom: 40px;
		right: 3.2%;
	}
	.agile_forms p {
		font-size: 15px;
	}
	.map-w3-agileits iframe {
		height: 280px;
	}
	.slider-img-w3layouts.one,
	.slider-img-w3layouts.two,
	.slider-img-w3layouts.three {
		min-height: 490px;
	}
	.blog-grid-w3-agileits:nth-child(3) {
		margin-bottom: 2em;
	}
}

@media(max-width:768px) {
	div#horizontalTab {
		border-bottom: none;
	}
}

@media(max-width:767px) {
	nav.linkEffects.linkHoverEffect_12 {
		float: none;
	}
	nav.linkEffects.linkHoverEffect_12 ul li {
		display: block;
		margin: 14px auto;
		text-align: center;
	}
	.navbar-collapse.in {
		overflow-y: hidden;
		width: 100%;
	}
	.navbar-collapse.in {
		overflow-y: -webkit-paged-x;
		width: 100%;
	}
	.navbar-default .navbar-brand {
		margin-top: 27px;
	}
	.navbar-header {
		margin-top: 0px;
	}
	.linkHoverEffect_12 a {
		font-size: 16px;
		padding: 10px 15px;
	}
	.top-bar-w3-agile {
		padding: 0px;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background-color: rgba(255, 253, 253, 0.42);
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #168eea;
	}
	.navbar-default .navbar-toggle {
		border-color: #ee4f4f;
	}
	.navbar-toggle {
		position: relative;
		float: right;
		padding: 9px 10px;
		margin-top: 2px;
		margin-right: 46px;
		margin-bottom: 0px;
		background-color: transparent;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		margin-top: 0;
		margin-left: 0;
		float: none;
	}
	nav#cl-effect-15 ul li {
		padding: 9px 7px;
		width: 100%;
		text-align: center;
	}
	.navbar-nav .open .dropdown-menu>li>a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 8px 0 0;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #fff;
	}
	.dropdown-menu {
		position: absolute;
		top: 100%;
		left: 35%;
		padding: 5px 0 0;
	}
	.cd-header-buttons {
		top: -58px;
		right: 13px;
	}
	.readmore-w3-agileits a {
		left: 32.7em;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border-color: transparent;
	}
	.addresses-w3ls {
		margin-top: 2.5em;
	}
	.loc-left-w3ls:nth-child(2) {
		margin: 1.5em 0;
	}
	.contact-w3-agileits input[type="submit"] {
		margin-top: 0.8em;
	}
	.callbacks_nav.next {
		left: 92.8%;
	}
}

@media(max-width:736px) {
	.slider-img-w3layouts.one,
	.slider-img-w3layouts.two,
	.slider-img-w3layouts.three {
		min-height: 465px;
	}
	.slider-info h3 {
		letter-spacing: 1px;
	}
	.callbacks_nav {
		bottom: 40%;
	}
	.slider-info p {
		padding: 0px 0;
	}
	.inn-banner {
		min-height: 190px;
	}
	.callbacks_nav.next {
		left: 92.5%;
	}
}

@media(max-width:667px) {
	.slider-info h3 {
		font-size: 2em;
		line-height: 1.4em;
	}
	.slider-img-w3layouts.one,
	.slider-img-w3layouts.two,
	.slider-img-w3layouts.three {
		min-height: 425px;
	}
	.callbacks_nav.next {
		left: 91.5%;
	}
	.slider-info p {
		letter-spacing: 2px;
	}
	.resp-tab-content {
		padding: 1.5em 0.5em;
	}
	.sevices-grid {
		width: 100%;
	}
	.sreen-gallery-cursual {
		padding: 2.8em 0em;
	}
	.copy h2 {
		float: none;
	}
	.copy p {
		float: none;
	}
	.copy {
		padding: 1.4em 0;
	}
	.sevices-w3layouts,
	.blog,
	.contact-w3-agileits,
	.team,
	.gallery,
	.about,
	.typo {
		padding: 3em 0em;
	}
	.banner_bottom_left {
		padding: 3em 2em;
	}
	h3.tittle {
		margin-bottom: 0.7em;
	}
}

@media(max-width:640px) {}

@media(max-width:600px) {
	.slider-info h3 {
		font-size: 1.8em;
	}
	.slider-info {
		margin-top: 32%;
	}
	.callbacks_nav.prev,
	.callbacks_nav.next {
		background-size: 63px;
		width: 31px;
		height: 31px;
	}
	.callbacks_nav.next {
		left: 92.5%;
	}
	.modal-content p {
		font-size: 14px;
	}
	.modal-content h5 {
		font-size: 22px;
		line-height: 28px;
	}
	.navbar-default .navbar-brand {
		font-size: 35px;
	}
	.reach-wthree h3 {
		font-size: 2em;
		letter-spacing: 1px;
		margin-top: 0.7em;
	}
	.test-review p {
		font-size: 14px;
	}
	.loc-left-w3ls p {
		font-size: 14px;
		letter-spacing: 1px;
	}
	.agile-b-wrapper h5 {
		line-height: 2.7em;
	}
	p.para-agileits {
		font-size: 14px;
		letter-spacing: 1px;
	}
	.dropdown-menu {
		left: 29%;
	}
	.fields input[type="text"],
	.fields input[type="email"],
	.fields input[type="password"],
	.fields .form-control,
	textarea {
		font-size: 14px;
	}
	.fields span {
		font-size: 14px;
	}
}

@media(max-width:568px) {
	.slider-img-w3layouts.one,
	.slider-img-w3layouts.two,
	.slider-img-w3layouts.three {
		min-height: 400px;
	}
	.callbacks_nav.next {
		left: 92%;
	}
	.agile-b-wrapper h5 {
		line-height: 2.3em;
	}
	.agile-b-wrapper h5 {
		line-height: 2.7em;
		font-size: 1.3em;
	}
	h3.tittle {
		font-size: 2.1em;
	}
	.sevices-w3layouts,
	.blog,
	.contact-w3-agileits,
	.team,
	.gallery,
	.about,
	.typo {
		padding: 2.5em 0em;
	}
	.banner_bottom_left {
		padding: 2.5em 2em;
	}
	.styled-input {
		float: none;
		width: 100%;
	}
	.styled-input:nth-child(2) {
		margin: 2% 0;
	}
}

@media(max-width:480px) {
	.agile_forms {
		float: none;
		text-align: center;
		margin-bottom: 0.7em;
	}
	.agile_forms p {
		font-size: 14px;
	}
	.agile_forms p span.fa {
		font-size: 18px;
	}
	.header-top-agileits .top-right-info-w3ls {
		float: none;
	}
	.slider-info {
		margin-top: 43%;
	}
	.slider-info h3 {
		font-size: 1.5em;
	}
	.slider-info p {
		letter-spacing: 1px;
	}
	.slider-img-w3layouts.one,
	.slider-img-w3layouts.two,
	.slider-img-w3layouts.three {
		min-height: 385px;
	}
	.callbacks_nav {
		bottom: 33%;
	}
	.modal-content h4 {
		font-size: 31px;
	}
	.modal-content h5 {
		font-size: 20px;
	}
	.banner-text1,
	.banner-text2,
	.banner-text3,
	.banner-text4 {
		min-height: 240px;
	}
	.banner-text4 iframe {
		height: 227px;
	}
	.banner_bottom_left h3 {
		font-size: 1.2em;
		letter-spacing: 1px;
	}
	h3.tittle {
		font-size: 2em;
		letter-spacing: 1px;
	}
	.resp-tabs-container input[type="submit"] {
		padding: 7px 20px;
	}
	.callbacks_tabs a:after {
		width: 10px;
		height: 10px;
	}
	.callbacks_tabs li {
		margin: 0 4px;
	}
	.blog-info-w3layouts {
		padding: 1em 1em 0em;
	}
	.blog-mid {
		padding-bottom: 1em;
	}
	.text-image-agileits-w3layouts {
		min-height: 200px;
	}
	.sreen-gallery-cursual {
		padding: 2em 0em;
	}
	.blog-grid-w3-agileits:nth-child(3) {
		margin-bottom: 1em;
	}
	.blog-img1-agileits-w3layouts a,
	.blog-img2-agileits-w3layouts a,
	.blog-img3-agileits-w3layouts a {
		min-height: 200px;
		padding: 1em 0 0 1em;
	}
	.blog-img h6 {
		font-size: 16px;
		letter-spacing: 0.8px;
		margin-bottom: .2em;
	}
	.blog-info-w3layouts h5 {
		font-size: 1.6em;
	}
	.blog-img p {
		font-size: 13px;
	}
	.copy p {
		font-size: 13px;
	}
	.w3-agileits-gallery-grids a:hover .agile-b-wrapper {
		height: 23%;
	}
	.reach-wthree h3 {
		float: none;
		font-size: 2em;
		margin: 0 0 0.5em;
		text-align: center;
	}
	.reach-right-agileits-w3layouts {
		float: none;
		text-align: center;
	}
	.dropdown-menu {
		left: 25%;
	}
	.slider-info h3 {
		font-size: 1.4em;
		letter-spacing: 0px;
	}
	.slider-info {
		margin-top: 47.3%;
	}
	.slider-info p {
		letter-spacing: 2px;
		line-height: 25px;
		padding: 0.5em 1em;
	}
	h3.icon-subheading,
	.grid_5 h3:nth-child(1),
	.grid_5 h2:nth-child(1),
	.grid_5 h1:nth-child(1),
	.grid_5 h4:nth-child(1),
	.grid_5 h5:nth-child(1),
	h3.hdg,
	h3.bars {
		font-size: 30px;
	}
}

@media(max-width:440px) {
	h3.tittle {
		line-height: 1.3em;
		margin-bottom: 0.5em;
	}
	.sevices-w3layouts,
	.blog,
	.contact-w3-agileits,
	.team,
	.gallery,
	.about,
	.typo {
		padding: 2.1em 0em;
	}
	.callbacks_nav.next {
		left: 90%;
	}
	.slider-img-w3layouts.one,
	.slider-img-w3layouts.two,
	.slider-img-w3layouts.three {
		min-height: 411px;
	}
	.callbacks_nav {
		bottom: 39%;
	}
	.copy p {
		line-height: 27px;
	}
	.copy h2 a {
		font-size: 1em;
	}
	.dropdown-menu {
		left: 20%;
	}
}

@media(max-width:414px) {
	.callbacks_nav.next {
		left: 88.3%;
	}
	.slider-info h3 {
		font-size: 1.3em;
		letter-spacing: 0.5px;
	}
	.slider-info {
		margin-top: 50.3%;
	}
	.w3_agile_team_grid_info h3 {
		font-size: 1.2em;
	}
	.dropdown-menu {
		left: 19%;
	}
	.agile-b-wrapper h5 {
		font-size: 1.1em;
	}
}

@media(max-width:384px) {
	.slider-info h3 {
		font-size: 1.2em;
	}
	.dropdown-menu {
		left: 16%;
	}
	.slider-info {
		margin-top: 56.3%;
	}
	.blog-img h6 {
		margin-bottom: .6em;
		line-height: 21px;
	}
	.blog-info-w3layouts h5 {
		font-size: 1.5em;
		letter-spacing: 1px;
	}
	.botttom-nav-agileits ul.nav-w3ls li {
		margin: 0px 10px;
	}
	.copy p {
		line-height: 27px;
		padding: 0 15px;
	}
	h3.tittle {
		letter-spacing: 0.5px;
	}
	.banner_bottom_left {
		padding: 2em 1em;
	}
	.sevices-grid {
		padding: 0px 0px;
	}
	#toTop {
		bottom: 24px;
		right: 5.2%;
		width: 24px;
		height: 24px;
		background-size: 24px;
	}
	.contact-w3-agileits input[type="submit"] {
		font-size: 17px;
		padding: 0.4em 3em;
	}
}

@media(max-width:375px) {
	.slider-info h3 {
		line-height: 1.5em;
	}
	.agile-b-wrapper h5 {
		line-height: 2.35em;
	}
}

@media(max-width:320px) {
	.navbar-toggle {
		margin-top: 0px;
		margin-right: 0px;
	}
	.cd-header-buttons {
		top: -59px;
		right: 15px;
	}
	.navbar {
		padding: 1em 1em 3.7em;
	}
	.dropdown-menu {
		left: 8%;
	}
	.slider-info {
		margin-top: 81.3%;
	}
	.slider-info p {
		letter-spacing: 1px;
		line-height: 23px;
		margin: 0em 0 0em;
	}
	.slider-info h3 {
		font-size: 1em;
		letter-spacing: 0px;
	}
	.readmore-w3-agileits a {
		margin-top: 1em;
	}
	.callbacks_nav {
		bottom: 32%;
	}
	.callbacks_nav.next {
		left: 85.3%;
	}
	h3.tittle {
		margin: 0 0.5em 0.5em;
	}
	.img-agile {
		float: right;
	}
	.img-agile {
		float: none;
	}
	.botttom-nav-agileits ul.nav-w3ls li a {
		font-size: 14px;
	}
	.botttom-nav-agileits ul.nav-w3ls li {
		margin: 0px 5px;
	}
	.agile-b-wrapper h5 {
		line-height: 2.6em;
		font-size: 1em;
	}
	.w3-agileits-gallery-grids a:hover .agile-b-wrapper {
		height: 28%;
	}
	.inn-banner {
		min-height: 225px;
	}
}


/*--responsive--*/